.product {
  flex: 0 0 auto;
  width: 200px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-image {
  width: 100%;
  height: 200px; /* Задаем фиксированную высоту для контейнера с картинкой */
  margin-bottom: 1rem;
  overflow: hidden; /* Скрываем часть картинки, выходящую за пределы контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Изменяем значение на "contain" */
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.product-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.product-cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.favorite.active {
  color: red;
}

.availability {
  font-weight: bold;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}